[submodule "app_lab"]
	path = app_lab
	url = https://github.com/FlavioLionelRita/app_lab.git
[submodule "docker-lab"]
	path = docker-lab
	url = https://github.com/FlavioLionelRita/docker-lab.git
[submodule "kubernetes-lab"]
	path = kubernetes-lab
	url = https://github.com/FlavioLionelRita/kubernetes-lab.git
